{% extends 'index.html' %}

{% block body %}
<section id="showcase">
<div>
    <h1>WE ARE HERE TO SAVE YOUR LIFES!!!!!!!!!</h1>
    <p style="color: white;font-size: 30px;text-align: center;padding-top: 70px">
        My decision to become a doctor was driven largely by values instilled in me by my faith and my family. The idea of being a part of a profession focused on helping others regardless of circumstance, focused on facilitating people leading healthier and therefore happier lives … I can’t imagine a more fulfilling job.

         Marsh is chief of the division of reproductive endocrinology and infertility at the Department of Obstetrics and Gynecology.
    </p>
</div>
</section>
<footer>
<p style="text-align: center;color: black;background-color: orange;margin-top: 20px;font-size: 40px;font-family: Algerian;text-shadow: 5px 5px 8px red">GRPSPK copyright &copy; 2020</p>
</footer>

{% endblock %}